.chart {
  padding: 1rem;
  border-radius: 12px;
  grid-column: 1/-1;
  grid-row: auto/4;
  /* width: 20rem; */
  /* background-color: #f8dfff; */
  /* background-color: #6ce9d4; */
  /* background-color: var(--mid-1); */
  /* background-color: var(--mid-2); */
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 20rem;
}

@media (min-width: 540px) {
  .chart {
    padding: 1rem;
    border-radius: 12px;
    grid-column: 1/7;
    grid-row: 1/2;

    /* width: 20rem; */
    /* background-color: #f8dfff; */
    /* background-color: #6ce9d4; */
    /* background-color: var(--mid-1); */
    /* background-color: var(--mid-2); */
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 20rem;
  }
}
